In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ambon,ID,2020-10-29 23:20:58,-3.70,128.18,82.54,74,99,6.44
1,1,Kaitangata,NZ,2020-10-29 23:20:58,-46.28,169.85,62.01,75,100,5.99
2,2,Chuy,UY,2020-10-29 23:16:17,-33.70,-53.46,52.29,81,10,10.27
3,3,Vaini,TO,2020-10-29 23:20:59,-21.20,-175.20,77.00,65,40,11.41
4,4,East London,ZA,2020-10-29 23:20:59,-33.02,27.91,62.94,77,100,19.10

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

The general syntax for creating a heatmap is as follows.

1. Assign the locations to an array of latitude and longitude pairs.
       locations = [latitude, longitude]

2. Assign the weights variable to some values.
       temperatures = # an array of equal length of the locations array.

3. Assign the figure variable to the gmaps.figure() attribute.
       fig = gmaps.figure()

4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
       heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

5. Add the heatmap layer.
        fig.add_layer(heatmap_layer)

6. Call the figure to plot the data.
        fig

Google heatmaps do not plot negative numbers. If you have a maximum temperature that is less than 0 Â°F, then you will get an InvalidWeightException error for this line of code:heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

In [5]:
# Get the maximum temperature. If the temp is less than 0, then 0 will be added to the list in its place. Otherwise, the temp is added to the list.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
#fig = gmaps.figure() changed to add geographic center and zoom
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp) changed to get temps above 0
# heat_layer = gmaps.heatmap_layer(locations, weights=temps) changed to list comprehension
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp]) changed to show dissipation
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=200, point_radius=3)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=200, point_radius=3)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=200, point_radius=3)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=200, point_radius=3)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ambon,ID,2020-10-29 23:20:58,-3.70,128.18,82.54,74,99,6.44
3,3,Vaini,TO,2020-10-29 23:20:59,-21.20,-175.20,77.00,65,40,11.41
5,5,Rikitea,PF,2020-10-29 23:20:59,-23.12,-134.97,75.11,76,54,11.03
6,6,Kangaba,ML,2020-10-29 23:20:59,11.93,-8.42,75.42,23,95,3.18
7,7,Hilo,US,2020-10-29 23:21:00,19.73,-155.09,82.40,74,75,6.93
16,16,Avarua,CK,2020-10-29 23:21:02,-21.21,-159.78,77.00,73,100,9.17
31,31,Catalina,US,2020-10-29 23:21:08,32.51,-110.92,82.99,18,92,1.57
32,32,Kapaa,US,2020-10-29 23:21:08,22.08,-159.32,81.00,57,20,10.29
35,35,Ayorou,NE,2020-10-29 23:21:09,14.73,0.92,84.51,14,15,6.46
38,38,Bima,ID,2020-10-29 23:21:10,-8.47,118.72,80.42,75,90,3.15

In [23]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [24]:
preferred_cities_df.notnull().sum()

City_ID       168
City          168
Country       168
Date          168
Lat           168
Lng           168
Max Temp      168
Humidity      168
Cloudiness    168
Wind Speed    168
dtype: int64

In [27]:
preferred_cities_df.count()

City_ID       168
City          168
Country       168
Date          168
Lat           168
Lng           168
Max Temp      168
Humidity      168
Cloudiness    168
Wind Speed    168
dtype: int64

In [29]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

        City Country  Max Temp    Lat     Lng Hotel Name
0      Ambon      ID     82.54  -3.70  128.18
3      Vaini      TO     77.00 -21.20 -175.20
5    Rikitea      PF     75.11 -23.12 -134.97
6    Kangaba      ML     75.42  11.93   -8.42
7       Hilo      US     82.40  19.73 -155.09
16    Avarua      CK     77.00 -21.21 -159.78
31  Catalina      US     82.99  32.51 -110.92
32     Kapaa      US     81.00  22.08 -159.32
35    Ayorou      NE     84.51  14.73    0.92
38      Bima      ID     80.42  -8.47  118.72

In [37]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [38]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [39]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Ambon,ID,82.54,-3.70,128.18,Swiss-Belhotel Ambon
3,Vaini,TO,77.00,-21.20,-175.20,Keleti Beach Resort
5,Rikitea,PF,75.11,-23.12,-134.97,Pension Maro'i
6,Kangaba,ML,75.42,11.93,-8.42,HÃ´tel MandÃ©
7,Hilo,US,82.40,19.73,-155.09,Hilo Hawaiian Hotel
16,Avarua,CK,77.00,-21.21,-159.78,Paradise Inn
31,Catalina,US,82.99,32.51,-110.92,Miraval Arizona Resort & Spa
32,Kapaa,US,81.00,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
35,Ayorou,NE,84.51,14.73,0.92,Hotel Amenokal
38,Bima,ID,80.42,-8.47,118.72,Lambitu Hotel

In [46]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
#adds makers
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [48]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [49]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))