In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2020-10-30 21:51:50,-46.19,168.86,55.00,98,100,8.99
1,1,Punta Arenas,CL,2020-10-30 21:51:51,-53.15,-70.92,53.60,62,75,31.09
2,2,Rikitea,PF,2020-10-30 21:51:51,-23.12,-134.97,76.12,67,0,7.52
3,3,Japura,ID,2020-10-30 21:51:51,-0.32,102.35,73.42,93,83,0.83
4,4,Walvis Bay,NaN,2020-10-30 21:51:52,-22.96,14.51,57.20,71,57,3.36

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

The general syntax for creating a heatmap is as follows.

1. Assign the locations to an array of latitude and longitude pairs.
       locations = [latitude, longitude]

2. Assign the weights variable to some values.
       temperatures = # an array of equal length of the locations array.

3. Assign the figure variable to the gmaps.figure() attribute.
       fig = gmaps.figure()

4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
       heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

5. Add the heatmap layer.
        fig.add_layer(heatmap_layer)

6. Call the figure to plot the data.
        fig

Google heatmaps do not plot negative numbers. If you have a maximum temperature that is less than 0 °F, then you will get an InvalidWeightException error for this line of code:heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

In [5]:
# Get the maximum temperature. If the temp is less than 0, then 0 will be added to the list in its place. Otherwise, the temp is added to the list.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
#fig = gmaps.figure() changed to add geographic center and zoom
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp) changed to get temps above 0
# heat_layer = gmaps.heatmap_layer(locations, weights=temps) changed to list comprehension
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp]) changed to show dissipation
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=200, point_radius=3)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=200, point_radius=3)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=200, point_radius=3)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=200, point_radius=3)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 95

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Rikitea,PF,2020-10-30 21:51:51,-23.12,-134.97,76.12,67,0,7.52
3,3,Japura,ID,2020-10-30 21:51:51,-0.32,102.35,73.42,93,83,0.83
7,7,Bengkulu,ID,2020-10-30 21:51:52,-3.80,102.27,75.00,87,65,3.56
9,9,Saint George,US,2020-10-30 21:47:45,37.10,-113.58,78.01,19,1,2.26
10,10,Kapaa,US,2020-10-30 21:51:53,22.08,-159.32,82.40,58,1,9.17
11,11,Basco,PH,2020-10-30 21:51:53,20.45,121.97,77.65,74,92,32.17
14,14,Pocri,PA,2020-10-30 21:51:54,8.27,-80.55,82.40,78,20,9.17
19,19,Pisco,PE,2020-10-30 21:51:56,-13.70,-76.22,68.00,72,75,12.75
25,25,Bouna,CI,2020-10-30 21:51:58,9.27,-3.00,79.72,44,0,3.20
26,26,Mormugao,IN,2020-10-30 21:51:58,15.40,73.80,78.80,94,75,3.36

In [12]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       1
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [13]:
preferred_cities_df.notnull().sum()

City_ID       273
City          273
Country       272
Date          273
Lat           273
Lng           273
Max Temp      273
Humidity      273
Cloudiness    273
Wind Speed    273
dtype: int64

In [14]:
preferred_cities_df.count()

City_ID       273
City          273
Country       272
Date          273
Lat           273
Lng           273
Max Temp      273
Humidity      273
Cloudiness    273
Wind Speed    273
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
2        Rikitea      PF     76.12 -23.12 -134.97
3         Japura      ID     73.42  -0.32  102.35
7       Bengkulu      ID     75.00  -3.80  102.27
9   Saint George      US     78.01  37.10 -113.58
10         Kapaa      US     82.40  22.08 -159.32
11         Basco      PH     77.65  20.45  121.97
14         Pocri      PA     82.40   8.27  -80.55
19         Pisco      PE     68.00 -13.70  -76.22
25         Bouna      CI     79.72   9.27   -3.00
26      Mormugao      IN     78.80  15.40   73.80

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Rikitea,PF,76.12,-23.12,-134.97,Pension Maro'i
3,Japura,ID,73.42,-0.32,102.35,Rumah mbah Jamah
7,Bengkulu,ID,75.00,-3.80,102.27,Grage Hotel Bengkulu
9,Saint George,US,78.01,37.10,-113.58,Best Western Plus Abbey Inn
10,Kapaa,US,82.40,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
11,Basco,PH,77.65,20.45,121.97,Nathaniel's Lodge
14,Pocri,PA,82.40,8.27,-80.55,Residencial D Cache
19,Pisco,PE,68.00,-13.70,-76.22,Hostal San Isidro Oficial
25,Bouna,CI,79.72,9.27,-3.00,Hotel Reserve
26,Mormugao,IN,78.80,15.40,73.80,Coconut Creek Resort

In [19]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
#adds makers
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [21]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))